* {
    position: relative;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

html {
    --accent: hsl(1, 59%, 50%);
    --column: 80rem;
    --side: 1rem;
    background: radial-gradient(circle at 50% 0%, hsl(0, 0%, 8%), hsl(0, 0%, 2%));
    background-attachment: fixed;
    background-size: 100vw 100vh;
    color: #ccc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.column {
    width: var(--column);
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--side)
}
